@import "bourbon"

$white_color: #fff
$main_color: #18cfab

$txt_color_menu: #b8b8b8

// $bg_main_header_color: #3c3c3c
$bg_main_header_color: #000
$bg_main_menu_color: rgba(0, 0, 0, 0.65)
// $bg_main_menu_color: rgba(73, 71, 63, 0.65)

$bg_color_button: #00cbf6

/*Section_1*/

$bg_option_dark: #1c2a33